* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
}

body {
    background-color: #eaeaea;
    text-align: center;
}

hr {
    border-style: dotted none none;
    border-width: 7px;
    width: 10%;
    border-color: rgb(211,211,211);
    margin: auto;
}

h1 {
    color: #222831;
}

header {
    width: 100%;
    height: 120px;
    background-color: #222831;
    position: sticky;
    text-align: left;
}

.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.profile-pic {
    border-radius: 100%;
}

header img {
    width: 90px;
    vertical-align: middle;
    margin-left: 30px;
}

header table {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

header td {
    color: #6d6d6d;
    transition: all 0.2s ease;
    padding: 0 50px;
}

header td:hover {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: #6d6d6d;
}

header a:hover {
    color: white;
}

.introduction {
    color: white;
    background-color: #222831;
    height: 600px;
    position: relative;
}

.introduction h1 {
    font-size: 60px;
    color: white;
}

.introduction p {
    font-size: 20px;
}

.introduction img {
    margin: auto;
}

#background-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10px;
    font-size: 0;
}

#background-image img {
    width: 500px;
}

.greeting {
    padding-top: 100px;
    min-width: 35%;
    max-width: 300px;
    margin: auto;
}

.container h1 {
    font-size: 50px;
}

.container p {
    font-size: 20px;
}

.who-i-am {
    margin: 100px auto;
    width: 40%;
}

.who-i-am img {
    width: 200px;
}

.who-i-am-text {
    padding-top: 25px;
}

.who-i-am-text p {
    padding-top: 20px;
}

.skillset {
    margin: 100px auto;
    width: 60%;
}

.skillset img {
    width: 100px;
}

.skillset-table {
    margin-top: 50px;
    table-layout: fixed;
}
.skillset-table td {
    width: 50%;
}

.hobbies {
    margin: 100px auto;
    width: 80%;
}

.hobbies img {
    width: 100px;
}

.hobbies-table {
    margin-top: 50px;
    table-layout: fixed;
}

.hobbies-table td{
    padding: 15px;
    width: 33%;
}

.hire {
    margin: 100px auto;
    width: 40%;
}

.hire p {
    padding-top: 25px;
}

input[type="submit"] {
    color: white;
    background-color: #222831;
    border: none;
    padding: 20px 50px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}

footer {
    background-color: #222831;
    padding: 40px;
    color: grey;
}
