* {
    margin: 0;
    font-family: Oswald, sans-serif;
}

body {
    background-color: #eaeaea;
    text-align: center;
}

hr {
    border-style: dotted none none;
    border-width: 7px;
    width: 10%;
    border-color: rgb(211,211,211);
    margin: auto;
}

header {
    width: 100%;
    height: 120px;
    background-color: #222831;
    position: sticky;
    text-align: left;
}

.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.profile-pic {
    border-radius: 100%;
}

header img {
    width: 90px;
    vertical-align: middle;
    margin-left: 30px;
}

header table {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

header td {
    font-family: Oswald;
    color: #6d6d6d;
    transition: all 0.2s ease;
    padding: 0 50px;
}

header td:hover {
    color: white;
    font-size: 30px;
}

.introduction {
    text-align: center;
    color: white;
    background-color: #222831;
    height: 600px;
}

.introduction h1 {
    font-size: 60px;
}

.introduction p {
    font-size: 20px;
}

.greeting {
    width: 35%;
    margin: auto;
    position: relative;
    top: 10%;
}

.greeting table {
    width: 100%;
}

.greeting img {
    width: 75px;
}

.git-link {
    margin-top: 40px;
}

.git-link img {
    width: 40px;
    border-radius: 100%;
    transition: width ease 0.3s;
}

.git-link img:hover {
    width: 70px;
}

.container h1 {
    font-size: 50px;
}

.container p {
    font-size: 20px;
}

.who-i-am {
    margin: 100px auto;
    width: 40%;
}

.who-i-am-text {
    padding-top: 25px;
}

.who-i-am-text p {
    padding-top: 20px;
}

.skillset {
    margin: 100px auto;
    width: 60%;
}

.skillset img {
    width: 100px;
}

.skillset-table {
    margin-top: 50px;
    table-layout: fixed;
}
.skillset-table td {
    width: 50%;
}

.hobbies {
    margin: 100px auto;
    width: 80%;
}

.hobbies img {
    width: 100px;
}

.hobbies-table {
    margin-top: 50px;
    table-layout: fixed;
}

.hobbies-table td{
    padding: 15px;
    width: 33%;
}

footer {
    background-color: #222831;
    padding: 40px;
    color: grey;
}
